#video {
	width: 100%;
	height: 505px;
	overflow: hidden;

	.list {
		width: 961px;

		h3 {
			margin: 0;
		}

		li {

			img {
				width: 100%;
				height: 170px;
				border: 1px solid #fff;
			}
		}
	}


	.hr {
		display: inline-block;
		width: 250px;
		height: 2px;
		margin-bottom: 10px;
		background: linear-gradient(to right, #f38384, #f38384 50%, #f8e269 50%, #f8e269 100%);
	}

}